.articles {
  padding: 94px 0;
  &__wrapper {
    display: flex;
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
  &__item {
    display: flex;
    gap: 30px;
    list-style: none;
  }
  &__icons {
    width: 270px;
    height: 120px;
    background-color: $light-gray;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
  }
  &__icons-text {
    font-style: Bold;
    font-size: 14px;
    line-height: 1.165;
    letter-spacing: 0.03em;
    color: $anthracite;
    margin-top: 0;
  }
  &__icons-item {
    display: flex;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    color: $ash;
    margin-top: 10px;
    gap: 30px;
  }

  &__icons-stroke:hover,
  &__icons-stroke:focus {
    stroke: $primary-color;
  }
}
